#home-top{
    color: white;
    /* max-width: 2000px; */
    background-image: url('bod_mainImg_01.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flexbox;
    padding-top:300px; 
    padding-left: 200px;
    padding-right: 200px;
}

#home-top div{
    background-color: white;
    /* font-style: times; */
    font-family: sans-serif;
    color: black;
    border: solid black 2px;
    font-size: 50px;
    text-align: center;
}
