#home-top{
    color: white;
    background-image: url('../public/images/Webp.net-resizeimage.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-top:300px; 
    padding-left: 200px;
    padding-right: 200px;
}

#home-top div{
    background-color: white;
    /* font-style: times; */
    font-family: sans-serif;
    color: black;
    border: solid black 2px;
    font-size: 50px;
    text-align: center;
   margin: 20px;
   transform: translateY(20px);
}
#intro {
    font-size: 20px;
    margin: 50px;
    padding-left: 250px;
    padding-right: 200px;
    text-align: center;
}
#adams {
    font-size: 15px;
    text-align: right;
    
}
