<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    
    <title>The Photography Project</title>
</head>

<body>

    <!-- block 1 -->
    <div id="home-top">
        <div class="mx-auto">The Photography Project</div>
    </div>

    <!-- block 2 -->
    <div id="intro">
        <p>“You don’t take a photograph, you make it.” 
        <br>
        </p>
        <p id="adams"> <I>– Ansel Adams</I> </p>
        <p>we believe in framing your purest of emotions</p>
    </div>

    <!-- block 3 -->
    <div class="catagory">
        <div class="type1">
            <div class="catagory-title">catagory type1</div>
            <div class="photographer-profile"></div>
            <div class="sample-photo"></div>
        </div>

        <div class="type2">
            <div class="catagory-title">catagory type2</div>

            <div class="photographer-profile"></div>
            <div class="sample-photo"></div>
        </div>
        <div class="type3">
            <div class="catagory-title">catagory type3</div>2
            <div class="photographer-profile"></div>
            <div class="sample-photo"></div>
        </div>
    </div>

    <!-- block 4 -->
    <div class="contact-us">

    </div>

    {{!-- <style>
        #home-top{
    color: white;
    background-image: url('Webp.net-resizeimage.JPG') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-top:300px; 
    padding-left: 200px;
    padding-right: 200px;
}

#home-top div{
    background-color: white;
    /* font-style: times; */
    font-family: sans-serif;
    color: black;
    border: solid black 2px;
    font-size: 50px;
    text-align: center;
   margin: 20px;
   transform: translateY(20px);
}
#intro {
    font-size: 20px;
    margin: 50px;
    padding-left: 250px;
    padding-right: 200px;
    text-align: center;
}
#adams {
    font-size: 15px;
    text-align: right;
    
}

    </style> --}}








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>